.JoinPage{
    background-color: rgb(42, 41, 41);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
    /* border: 2px solid white; */
    /* height: 50%; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    transition: all 0.3s;
}


.JoinContainer >img{
    width: 10vmax;
}
.JoinContainer >h1{
    color: white;
    font-size: 2.5vmax;
    width: 25vmax;
    font-family: "Roboto";
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 1vmax;
}

#joinInput {
     width: 25vmax;
     padding: 1.5vmax;
     border: none;
     outline: none;
     font-size: 1.2vmax;
     margin: 2vmax;
     box-sizing: border-box;
}

.joinBtn {
    width: 25vmax;
     padding: 1.5vmax;
     border: none;
     outline: none;
     font-size: 1.2vmax;
     /* margin: 2vmax; */
     background-color: crimson;
     color: white;
     font-family: "Roboto";
     transition: all 0.3s;
     /* border-radius: 30px; */
}


.joinBtn:hover {
    width: 25vmax;
     padding: 1.5vmax;
     border: none;
     outline: none;
     font-size: 1.2vmax;
     /* margin: 2vmax; */
     background-color: rgb(163, 16, 45);
     color: white;
     font-family: "Roboto";
     transition: all 0.3s;
     /* border-radius: 30px; */
     cursor: pointer;
}